.annotateContainer {
    position: relative;
}

.react-pdf__Document {
    width: 100%;
    height: 100%;
    background-color: #f9fbfd;
    position: relative;
}

.react-pdf__Page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background-color: #f9fbfd !important;
}

.react-pdf__Page__canvas {
    border-radius: 1em;
    overflow: hidden;
}

.textLayer {
    inset: unset !important;
    border: rgba(0, 0, 0, 0.54) 1px solid;
    border-radius: 1em;
    mix-blend-mode: multiply;
}

.textLayer span::selection {
    background: rgba(252, 232, 151, 1);
    mix-blend-mode: multiply;
}

.annotationLayer {
    inset: unset !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f9fbfd;
}

.word, .space {
    transition: background 0.5s;
}

.word.highlighted, .space.highlighted {
    background: rgba(252, 232, 151, 1);
}

.word.highlighted.accept, .space.highlighted.accept {
    background: rgb(255, 204, 0, 1);
}

.word.highlighted.fade, .space.highlighted.fade {
    background: rgba(252, 232, 151, 0.3);
}

.character, .space, .word {
    user-select: none;
    position: relative !important;
    left: 0;
    top: 0;
}

#toolTipcanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}

#toolTipcanvas * {
    pointer-events: all;
}

#toolTipcanvas.disabled * {
    pointer-events: none;
}

input {
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.react-tooltip {
    --rt-opacity: 1;
}

.annotationMessageContainer {
    width: 18vw;
    line-height: 22px;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.annotationMessageHeader {
    font-size: 16px;
    letter-spacing: 0.25px;
    font-weight: 500;
    color: #F7F9F9;
    margin-bottom: 8px;
}

.annotationMessageContainer textarea {
    height: 31px;
    padding: 8px;
    padding-left: 10px;
    border-radius: 16px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.2px;
    font-weight: 400;
    outline: none;
    resize: none;
    overflow: hidden;
}

.rateContainer {
    display: flex;
    gap: 10px;
    min-width: 74px;
    height: 32px;
    justify-content: space-around;
    align-items: center;
}

.rateButton {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s;
}

.rateButton:hover {
    cursor: pointer;
}

.rateButton::after {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}

.rateButton:hover::after{
    background-color: #ada8b62d;
}

.rateButton:hover:active::after {
    width: 24px;
    height: 24px;
}

.shimmerBGContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shimmerBG {
    width: calc(100vw - 100vw * 0.45);
    height: 100vh;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
    border-radius: 1em;
    border: rgba(0, 0, 0, 0.54) 1px solid;
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}