.annotateContainer {
    position: relative;
}

.react-pdf__Document {
    width: 100%;
    height: 100%;
    background-color: #f9fbfd;
    position: relative;
}

.react-pdf__Page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background-color: #f9fbfd !important;
}

.react-pdf__Page__canvas {
    border-radius: 1em;
    overflow: hidden;
}

.textLayer {
    inset: unset !important;
    border: rgba(0, 0, 0, 0.54) 1px solid;
    border-radius: 1em;
    mix-blend-mode: multiply;
}

.textLayer span::selection {
    background: rgba(252, 232, 151, 1);
    mix-blend-mode: multiply;
}

.annotationLayer {
    inset: unset !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f9fbfd;
}

.word, .space {
    transition: background 0.5s;
}

.word.highlighted, .space.highlighted {
    background: rgba(252, 232, 151, 1);
}

.word.highlighted.accept, .space.highlighted.accept {
    background: rgb(255, 204, 0, 1);
}

.word.highlighted.fade, .space.highlighted.fade {
    background: rgba(252, 232, 151, 0.3);
}

.character, .space, .word {
    user-select: none;
    position: relative !important;
    left: 0;
    top: 0;
}

#toolTipcanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}

#toolTipcanvas * {
    pointer-events: all;
}

#toolTipcanvas.disabled * {
    pointer-events: none;
}

input {
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.react-tooltip {
    --rt-opacity: 1;
}

.annotationMessageContainer {
    width: 18vw;
    line-height: 22px;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.annotationMessageHeader {
    font-size: 16px;
    letter-spacing: 0.25px;
    font-weight: 500;
    color: #F7F9F9;
    margin-bottom: 8px;
}

.annotationMessageContainer textarea {
    height: 31px;
    padding: 8px;
    padding-left: 10px;
    border-radius: 16px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.2px;
    font-weight: 400;
    outline: none;
    resize: none;
    overflow: hidden;
}

.rateContainer {
    display: flex;
    gap: 10px;
}

.rateButton {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.rateButton:hover {
    background-color: #ada8b62d;
    cursor: pointer;
    transition: all 0.3s;
}