#loader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
}

#loader path {
    will-change: stroke-dashoffset, stroke-dasharray;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#loader path:nth-child(1) {
    stroke-dasharray: 200%;
    stroke-dashoffset: 200%;
    animation: strokeAnimate 2s 0s ease alternate infinite;
}

#loader path:nth-child(2) {
    stroke-dasharray: 200%;
    stroke-dashoffset: 200%;
    animation: strokeAnimate 2s 0.3s ease alternate infinite;
}
#loader path:nth-child(3) {
    stroke-dasharray: 200%;
    stroke-dashoffset: 200%;
    animation: strokeAnimate 2s 0.9s ease alternate infinite;
}
#loader path:nth-child(4) {
    stroke-dasharray: 200%;
    stroke-dashoffset: 200%;
    animation: strokeAnimate 2s 1.2s ease alternate infinite;
}
#loader path:nth-child(5) {
    stroke-dasharray: 200%;
    stroke-dashoffset: 200%;
    animation: strokeAnimate 2s 1.5s ease alternate infinite;
}
#loader path:nth-child(6) {
    stroke-dasharray: 200%;
    stroke-dashoffset: 200%;
    animation: strokeAnimate 2s 1.8s ease alternate infinite;
}
#loader path:nth-child(7) {
    stroke-dasharray: 200%;
    stroke-dashoffset: 200%;
    animation: strokeAnimate 2s 2.1s ease alternate infinite;
}

@keyframes strokeAnimate {
    to {
        stroke-dashoffset: 0;
    }
}

/* @media screen and (max-width: 768px) {
    #loader-container {
        max-width: 150px;
    }
    #loader {
        width: 150px;
    }
}

@media screen and (max-width: 650px) {
    #loader-container {
        max-width: 100px;
    }
    #loader {
        width: 100px;
    }
} */
