.minimap-viewport {
	position: absolute;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.5);
    will-change: top;
}

.minimap {
	float: right;
	position: fixed; 
	top: 0;
	right: 0;
    z-index: 6;
    margin: 0;
    overflow: hidden;
    border: none;
    background-color: #939393;
}

.minimap-container.right .minimap {
	right: 0;
}

.minimap-container.left .minimap {
	left: 0;
	right: unset;
}

.minimap-container {
	width: 100%;
	height: 100%;
}

.minimap-container-scroll {
	overflow: auto;
	width: 100%;
}

.minimap-container .busy, .minimap-container .accept {
	z-index: 1;
}

.minimap-container .attention, .minimap-container .highlight {
	z-index: 2;
}

::-webkit-scrollbar {
    display: none;
}