.pen-annotation-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    --annotation-height: calc(100vh * 1.5);
    --annotation-height: calc(100dvh * 1.5);
}

.pen-annotation-layer {
    width: 100%;
    height: calc(var(--annotation-height) + 10px);
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative;
}

.pen-annotation-layer svg path {
    pointer-events: none;
}

.pen-annotation-layer:first-child {
    height: calc(var(--annotation-height));
}

.pen-annotation-layer:last-child {
    height: calc(var(--annotation-height) - 2px);
}

.pen-annotation-layer canvas {
    border-radius: 1em;
}

.pageNumber {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    font-size: 1rem;
    color: black;
    user-select: none;
    text-align: center;
    pointer-events: none;
}