.toolbar {
    position: fixed;
    bottom: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column-reverse;
    --pen-offset: -138px;
    --highlighter-offset: -140px;
    --offset-active: 75px;
    user-select: none;
    width: min-content;
    pointer-events: none;
}

.toolbar.disabled, .toolbar.disabled * {
    pointer-events: none !important;
}

.svg-container {
    display: flex;
    align-items: center;
    height: 90px;
    overflow: visible;
    pointer-events: none;
}

.palette-container {
    display: flex;
    align-items: center;
    width: auto;
}

.svg-container svg *, .palette-container svg * {
    will-change: transform;
    pointer-events: visible;
    cursor: pointer;
}

.toolbar svg {
    transition: all 0.3s ease;
}

#pen {
    transform: translateX(var(--pen-offset));
    filter: drop-shadow( 5px 10px 1px rgba(0, 0, 0, .2));
}

#pen.hover, #pen.active {
    transform: translateX(calc(var(--pen-offset) + var(--offset-active)));
}

#highlighter {
    transform: translateX(var(--highlighter-offset));
    filter: drop-shadow( 5px 10px 1px rgba(0, 0, 0, .2));
}

#highlighter.hover, #highlighter.active {
    transform: translateX(calc(var(--highlighter-offset) + var(--offset-active)));
}