.react-pdf__Document {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #F5F5F5;
}

.react-pdf__Page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background-color: #F5F5F5 !important;
}

.react-pdf__Page__canvas {
    border-radius: 1em;
    overflow: hidden;
}

.textLayer {
    inset: unset !important;
    border: rgba(0, 0, 0, 0.54) 1px solid;
    border-radius: 1em;
    mix-blend-mode: multiply;
}

.textLayer span::selection {
    background: rgba(252,232,151,1);
    mix-blend-mode: multiply;
}

.annotationLayer {
    inset: unset !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
}