@font-face {
    font-family: 'Google Sans';
    font-weight: 400 500;
    font-style: normal;
    src: url("./googlesans.woff2") format('woff2');
  }

.react-pdf__Document {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f9fbfd;
}

.react-pdf__Page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background-color: #f9fbfd !important;
}

.react-pdf__Page__canvas {
    border-radius: 1em;
    overflow: hidden;
}

.textLayer {
    inset: unset !important;
    border: rgba(0, 0, 0, 0.54) 1px solid;
    border-radius: 1em;
    mix-blend-mode: multiply;
}

.textLayer span::selection {
    background: rgba(252, 232, 151, 1);
    mix-blend-mode: multiply;
}

.annotationLayer {
    inset: unset !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f9fbfd;
}

.word.highlighted, .space.highlighted {
    background: rgba(252, 232, 151, 1);
    transition: background 0.5s;
}

.word.highlighted.fade, .space.highlighted.fade {
    background: rgba(252, 232, 151, 0.3);
}

.character {
    user-select: none;
}

#toolTipcanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}

#toolTipcanvas * {
    pointer-events: all;
}

#toolTipcanvas.disabled * {
    pointer-events: none;
}

input {
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.react-tooltip {
    --rt-opacity: 1;
}