.navigateContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    pointer-events: none;
}

.navigateContainer .button-55 path {
    transform: translate(-10px, -20px);
}

.navigateContainer #bottomButton path {
    transform: rotate(180deg) translate(-40px, -50px) ;
    transform-origin: center;
}

.navigateContainer #topButton  {
    top: 0;
}

.navigateContainer #bottomButton  {
    bottom: 0;
}

.button-55 {
    width: 50px;
    height: 50px;
    position: absolute;
    overflow: visible;
    pointer-events: all;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    backdrop-filter: saturate(180%) blur(3px);
    background: transparent;
    box-shadow: rgba(0, 0, 0, .3) 15px 28px 25px -18px;
    cursor: pointer;
    display: inline-block;
    transition: transform 235ms ease-in-out, box-shadow 235ms ease-in-out, border 1s ease-in-out;
    user-select: none;
    touch-action: manipulation;
}

.navigationContainer.disabled .button-55 {
    border: 1px solid rgb(184, 64, 94);
    pointer-events: none !important;
}

.navigationContainer {
    width: 50px;
    height: 50px;
    left: calc(100vw - 225px - 25px);
    margin: 10px;
    position: absolute;
    transition: opacity 1s ease-in-out;
    pointer-events: all;
}

.navigationContainer::before {
    width: 100%;
    top: 50%;
    left: 0em;
    content: "";
    height: .2em;
    border-radius: 3px;
    background: rgb(184, 64, 94);
    position: absolute;
    transform: rotate(-45deg);
    z-index: 2;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

.navigationContainer::after {
    width: 100%;
    top: 50%;
    left: 0em;
    content: "";
    height: .2em;
    border-radius: 3px;
    background: rgb(184, 64, 94);
    position: absolute;
    transform: rotate(45deg);
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

.navigationContainer:not(.disabled)::before, .navigationContainer:not(.disabled)::after {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.navigationContainer path {
    stroke-width: 10;
    stroke: rgba(0, 0, 0, .5);
}

.navigationContainer:not(.disabled) .button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.navigationContainer:not(.disabled) .button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}