.pen-annotation-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
}

.pen-annotation-layer canvas {
    border-radius: 1em;
}